* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/*La Barra de navegacion*/

header{  
    position: sticky;
    top:0px;
    z-index:5;
}

.fondo-nav{
    background-color: #13245c;
}

.logo{
    max-width: 8%;
    position:relative;
    top:0px;
}

.logo2{
    max-width: 8%;
    position:relative;
    top: 18px;
    left: 10px;
}

/* Estilo de la pagina Inicial*/

/* Estilo Formulario de inicio de sesion */
.boton-sesion{
  text-decoration: none;
  color:white;
}

/* Estilo de la pagina ubicacion */

/* Estilo de la pagina de Productos */

/* Estilo de la pagina de Nosotros */
.marcas{
    display:flex;
    justify-content:center;
}
.logos{
    max-width: 13%;
}

/* Estilo de la pagina de Contacto */
.container-button{
    display:flex;
    justify-content:center;
}

.facebook{
  text-decoration: none;
  color: rgb(19, 167, 0);
  font-family: sans-serif;
  font-size: 15px;
  border: 3px solid rgb(248, 248, 248);
  padding: 10px 18px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.facebook:before {
  content: "Facebook";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 167, 0);
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.facebook:hover:before {
  transform: scale(1);
  opacity: 1;
}

.tik-tok{
  text-decoration: none;
  color: rgb(19, 167, 0);
  font-family: sans-serif;
  font-size: 15px;
  border: 3px solid rgb(248, 248, 248);
  padding: 10px 18px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.tik-tok:before {
  content: "Tik Tok";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 167, 0);
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.tik-tok:hover:before {
  transform: scale(1);
  opacity: 1;
}
.instagram{
  text-decoration: none;
  color: rgb(19, 167, 0);
  font-family: sans-serif;
  font-size: 15px;
  border: 3px solid rgb(248, 248, 248);
  padding: 10px 18px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.instagram:before {
  content: "Instagram";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 167, 0);
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.instagram:hover:before {
  transform: scale(1);
  opacity: 1;
}
/* Footer */
footer{
    background-color: #13245c;
    grid-area:footer;
}

.icono{
    position:relative;
    top:0px;
    color:rgb(247, 222, 5); 
}

.icono--instagram{
    @extend .icono;
    left:10px;
}

.icono--facebook{
    @extend .icono;
    left:15px;
}
.icono--tiktok{
    @extend .icono;
    left:23px;
}

/* Media queries */
@media screen and (min-width:350px) and (max-width: 858px){
  .container-cuerpo{
    display:flex;
    flex-direction: column;
    width:100%;
  }
}

@media screen and (min-width: 859px) and (max-width:1199){
  .container-cuerpo{
    width:100%;
  }
}

@media screen and (min-width: 1200px){
  .container.contacto{
    width:100%;
  }
}


