* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/*La Barra de navegacion*/

header{  
    position: sticky;
    top:0px;
    z-index:5;
}

.fondo-nav{
    background-color: #13245c;
}

.logo{
    max-width: 8%;
    position:relative;
    top:4px;
}

.logo2{
    max-width: 8%;
    position:relative;
    top: 18px;
    left: 10px;
}

/* Estilo de la pagina Inicial*/

/* Estilo de la pagina ubicacion */

/* Estilo de la pagina de Productos */

/* Estilo de la pagina de Nosotros */
.marcas{
    display:flex;
    justify-content:center;
}
.logos{
    max-width: 13%;
}

/* Estilo de la pagina de Contacto */
.container-button{
    display:flex;
    justify-content:center;
}
/* Footer */
footer{
    background-color: #13245c;
    grid-area:footer;
}
.footer-style {
    font-size: 1.0;
    position: relative;
    left: 8px;
    color:rgb(247, 222, 5);
}

.icono{
    position:relative;
    top:0px;
    color:rgb(247, 222, 5); 
}

.icono--instagram{
    @extend .icono;
    left:10px;
}

.icono--facebook{
    @extend .icono;
    left:15px;
}
.icono--tiktok{
    @extend .icono;
    left:23px;
}

/* Media queries */



